{% extends "base.html" %}

{% block title %}My Packages - Boxtrackr{% endblock %}

{% block header %}
    <div class="offset2">
        <span style="margin-left: -30px;">My Packages</span>
    </div>
{% endblock %}

{% block content %}
    <div class="preload">
        <img src="/static/img/throbber.gif" width="16px" height="16px">
    </div>
    <div class="row">
        <div class="span8 offset2">

            <div class="package-list">
                <div class="header">
                    <div class="packages-summary">You have {{ num_packages }} packages.</div>
                    <a id="add-package-button" href="#add-package-modal" class="btn pull-right" role="button" data-toggle="modal">
                        <i class="icon-plus"></i><span class="btn-text">&nbsp; Add Package</span>
                    </a>
                </div>
                <div class="packages">
                {% for package in packages %}
                    <div id="package-{{ package.key() }}" class="package{% if loop.last %} last{% endif %}">
                        {% include "shipping/package_row.html" %}
                    </div>
                {% else %}
                    <div class="package-list-empty">There are no package here!</div>
                {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <div class="modal" id="add-package-modal" tabindex="-1" role="dialog" aria-labelledby="add-package-modal" aria-hidden="true" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="addModalLabel">Add Package</h3>
        </div>
        <form id="add_package" class="form-horizontal modal-form" action='' method="POST">
            <div class="modal-body">
                {{ render_form(add_form) }}
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-info" value="Submit" />
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </form>
    </div>

    <div class="modal" id="edit-package-modal" tabindex="-1" role="dialog" aria-labelledby="edit-package-modal" aria-hidden="true" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="editModalLabel">Edit Package</h3>
        </div>
        <form id="edit_package" class="form-horizontal modal-form" action='' method="POST">
            <div class="modal-body">
                {{ render_form(edit_form) }}
                <input type="hidden" class="package-key" name="package-key" value="" />
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-info" value="Submit" />
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </form>
    </div>

    <div class="modal" id="delete-package-modal" tabindex="-1" role="dialog" aria-labelledby="delete-package-modal" aria-hidden="true" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="deleteModalLabel">Delete Package</h3>
        </div>
        <form id="delete_package" class="form-horizontal modal-form" action='' method="POST">
            <div class="modal-body">
                Are you sure you want to delete "<span class="package-name"></span>"? &nbsp;This cannot be undone.
                <input type="hidden" class="package-key" name="package-key" value="" />
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-danger" value="Delete Package" />
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
        {% if add_package_open %}
            $('#add-package-button').trigger('click');
        {% endif %}
            $("#add-package-button").hover(function(){
                var that = $(this);
                that.stop();
                that.animate({width: 106}, 250, function(){
                    that.find('.btn-text').fadeIn(150);
                });
            }, function(){
                var that = $(this);
                that.stop();
                $('.btn-text', this).fadeOut(150, function(){
                    that.animate({width: 10}, 250);
                });

            });

            $('.package > .summary').hover(function(){
                $(".name", this).addClass('decorated');
            },function(){
                $(".name", this).removeClass('decorated');
            }).live('click', function(){
                var detail = $(this).siblings('.details');
                $('.details').not(detail).slideUp(200);
                detail.slideToggle(200);
            });

            //Prevent the details from opening when clicking on the tracking number link.
{#            $('.tracking-number-link').click(function(){#}
{#                $(this).stopPropagation();#}
{#            });#}

            var addModal = $('#add-package-modal');
            addModal.find('#AddPackageForm-carrier').parents('.control-group').css('display','none');
            addModal.on('hide', function(){
                    $(this).removeData('modal');
                    $('#AddPackageForm-name', this).val('');
                    $('#AddPackageForm-tracking_number', this).val('');
                    $('#AddPackageForm-carrier', this).parents('.control-group').css('display','none');
                    $('#AddPackageForm-site', this).val('');
                    $('#AddPackageForm-description', this).val('');
                })
                .find('#AddPackageForm-tracking_number')
                .blur(function(){
                    $("#tnum_throbber").show();
                    $.post('#',
                        {id:"determine_carrier", tracking_number:$(this).val()},
                        function(data){
                            $('#add-package-modal').find('#AddPackageForm-carrier')
                                .val(data.carrier)
                                .trigger("liszt:updated")
                                .parents('.control-group').slideDown();
                            $("#tnum_throbber").hide();
                        }, "json");
                })
                .siblings('.help-inline')
                .html('<img id="tnum_throbber" style="display:none;" src="/static/img/throbber.gif" width="16px" height="16px">');

            //Setup the edit modal to fill the form values when it opens.
            $('#edit-package-modal').on('show', function(event){
                var data = $(this).data('modal').options;

                $('#EditPackageForm-name', this).val(data.name);
                $('#EditPackageForm-tracking_number', this).val(data.trackingnumber);
                $('#EditPackageForm-carrier', this).val(data.carrier);
                $('#EditPackageForm-carrier', this).trigger("liszt:updated");
                $('#EditPackageForm-site', this).val(data.site);
                $('#EditPackageForm-description', this).val(data.description);
                $('.package-key', this).val(data.packagekey);
            }).on('hide', function(event){
                $(this).removeData('modal');
            });

            //Setup the edit modal to fill the form values when it opens.
            $('#delete-package-modal').on('show', function(event){
                var data = $(this).data('modal').options;

                $('.package-name', this).html(data.name);
                $('.package-key', this).val(data.packagekey);
            }).on('hide', function(event){
                $(this).removeData('modal');
            });

            $('.package > .details > .actions > .refresh').live('click', function(){
                var that = $(this);
                var key = that.attr('data-packagekey');
                $("img", that).show();
                $("i", that).hide();
                $.post('#',
                    {id:"refresh_package", key:key},
                    function(data){
                        $("#package-" + data.key).html(data.row);
                        $("#package-" + data.key + " > .details").show();
                    }, "json");
            });
        });

    </script>

{% endblock %}