{% extends 'base.html' %}

{% block content %}

    <div class="row" style="margin-top:80px;">
        <div class="span4 offset4">
            <div class="well">

                <div class="page-header" style="margin-top: -5px;">
                    <h3>Forgot your password?</h3>
                </div>

                <div id="forgot_display_initial">
                    <div id="error_message" class="alert alert-danger" style="display: none;"></div>

                    <form class="form" id="forgot_password_form">
                        {{ form.email(placeholder='Email', style='width: 95%;')|safe }}
                        <button type="button" id="forgot_button" class="btn btn-info btn-block">Reset Password</button>
                    </form>
                </div>

                <div id="forgot_password_success" style="display: none">
                    We will send you an email with instructions on how to reset your password.
                </div>

            </div>
        </div>
    </div>

    <script>

        $(document).ready(function(){

            $('#forgot_button').click(function() {
                forgot_password()
            })

            $('#email').bind("keypress", function(e) {
                if (e.keyCode == 13) {
                    e.preventDefault()
                    if($('#email').is(':focus')) {
                        forgot_password()
                    }
                }
            })



            function forgot_password() {
                $.post("{{ url_for('forgot_password') }}", $("#forgot_password_form").serialize(),
                        function(responseText)
                        {
                            var data = $.parseJSON(responseText);
                            if (data.email_sent) {
                                $('#forgot_display_initial').fadeOut('slow', function() {
                                    $('#forgot_password_success').fadeIn('slow');
                                });
                            }

                            if (data.error_message) {
                                $('#error_message').html(data.error_message)
                                $('#error_message').show()
                            }

                        });
            }

        });

    </script>

{% endblock %}