{% extends 'base.html' %}

{% block content %}

    <div class="row" style="margin-top:80px;">
        <div class="span4 offset4">
            <div class="well">

                <div class="page-header" style="margin-top: -5px;">
                    <h3>Login</h3>
                </div>

                <div id="login_message" class="alert alert-danger" style="display: none;"></div>

                <form class="form" method="post" action="" id="basic_login_form">
                    {{ form.email(placeholder='Email', style='width: 95%;')|safe }}
                    {{ form.password(placeholder='Password', style='width: 95%;')|safe }}
                    <input id="login_submit" class="btn btn-info btn-block" value="Login">

                </form>

                <div class="forgot_password_link">
                    <a class="forgot_password_link" href="{{ url_for('forgot_password') }}">Forgot password?</a>
                </div>

                <hr>
                <a class="btn btn-info btn-block" href="{{ url_for('facebook_login') }}">Login with Facebook</a>
                <a class="btn btn-info btn-block" href="{{ url_for('google_login') }}">Login with Google</a>


            </div>
        </div>

    </div>

    <script>

    $(document).ready(function() {

        // Ajax request for login
        function login() {
            $.post("{{ url_for('login') }}", $("#basic_login_form").serialize(),
                    function(responseText)
                    {
                        var data = $.parseJSON(responseText);
                        if (data.loggedin) {
                            window.location.replace(data.next_url);
                        }

                        if (data.error_message) {
                            $('#login_message').html(data.error_message)
                            $('#login_message').show()
                        }

                    });
        }

        $("#password").keypress(function(e) {
            if (e && e.which == 13) {
                login();
            }
        })

        $("#login_submit").click(function() {
            login();
        })

    })
    </script>

{% endblock %}