{% extends 'base.html' %}

{% block content %}

    <div class="row" style="margin-top:40px;">
        <div class="span4 offset4">
            <div class="well">
                <div class="alert alert-success">
                    Password email sent successfully.
                </div>
                <p style="text-align: center; font-size: 24px;">We sent an email to the address provided. You will need to follow the link in that email to reset your password.</p>
                <br>
            </div>
        </div>

    </div>


{% endblock %}