{% extends 'base.html' %}

{% block content %}

    <div class="row" style="margin-top:80px;">
        <div class="span4 offset4">
            <div class="well">

                <div class="page-header" style="margin-top: -5px;">
                    <h3>Register</h3>
                </div>

                <form class="form" method="post" action="" id="basic_login_form">
                    {{ form.email(placeholder='Email', style='width: 95%;')|safe }}
                    {{ form.username(placeholder='Username', style='width: 95%;')|safe }}
                    {{ form.password(placeholder='Password', style='width: 95%;')|safe }}
                    {{ form.password_confirm(placeholder='Confirm', style='width: 95%')|safe }}
                    <button type="button" class="btn btn-info btn-block" id="submit">Register</button>
                </form>

                <hr>
                <a class="btn btn-info btn-block" href="{{ url_for('facebook_login') }}">Register with Facebook</a>
                <a class="btn btn-info btn-block" href="{{ url_for('google_login') }}">Register with Google</a>
            </div>
        </div>

    </div>

    <script>

    $(document).ready(function(){

        $("#username").blur(function () {
            $('#username-confirm').css('color', '#ffffff');
            $("#username_text").text("");
            if ($("#username").val().length > 0) {
                var page = "/auth/check_username?";
                var output;
                $.getJSON(page,
                    {
                      username: $("#username").val()
                    },
                    function(data) {

                        if (data.valid) {
                            $('#username-confirm').css('color', '#209920');
                            $("#username_control").removeClass("error").addClass("success");
                            $("#username_text").text("Available");

                        } else {
                            $('#username-confirm').css('color', '#ffffff');
                            $("#username_control").removeClass("success").addClass("error");
                            $("#username_text").text("Unavailable");
                        }
                    })
            }
        })

        $("#password_confirm").blur(function() {
            if ($("#password").val() == $("#password_confirm").val()) {
                $("#password-confirm").css('color', '#209920');
                $("#password_confirm_control").removeClass("error").addClass("success");
                $("#password_confirm_text").text("Passwords match!");
            } else {
                $("#password-confirm").css('color', '#ffffff');
                $("#password_confirm_control").removeClass("success").addClass("error");
                $("#password_confirm_text").text("Passwords don't match!");
            }
        });



        $("#submit").click(function() {
            $.post("/auth/register/", {email: $("#email").val(), username: $("#username").val(), password: $("#password").val(), password_confirm: $("#password_confirm").val()},
            function(responseText)
            {
                var data = $.parseJSON(responseText);

                if (data.registered) {
                    window.location.replace("/auth/welcome/");
                } else {
                    if (data.error_message) {
                        $("#error_message").html(data.error_message);
                        $("#error_message").show();
                    }
                }

            });
        });
    });


    </script>

{% endblock %}