{% extends 'base.html' %}

{% block content %}

    <div class="row" style="margin-top:80px;">
        <div class="span4 offset4">
            <div class="well">

                <div class="page-header" style="margin-top: -5px;">
                    <h3>Reset your password</h3>
                </div>

                <div id="reset_display_initial">
                    <div id="error_message" class="alert alert-danger" style="display: none;"></div>

                    <form class="form" method="post" action="" id="reset_form">
                        {{ form.password(placeholder='New Password', style='width: 95%;')|safe }}
                        {{ form.password_confirm(placeholder='Confirm Password', style='width: 95%;')|safe }}
                        <input type="hidden" id="token" name="token" value="{{ token }}">
                        <button type="button" id="reset_button" class="btn btn-info btn-block">Reset</button>
                    </form>

                </div>

                <div id="reset_password_success" style="display: none">
                    You may now login.
                </div>

            </div>
        </div>
    </div>

    <script>

        $(document).ready(function(){

            $('#reset_button').click(function() {
                reset_password()
            })

            $('#email').bind("keypress", function(e) {
                if (e.keyCode == 13) {
                    e.preventDefault()
                    if($('#confirm_password').is(':focus')) {
                        reset_password()
                    }
                }
            })

            function reset_password() {
                console.log('triggered')
                $.post("{{ url_for('reset_password') }}", $("#reset_form").serialize(),
                        function(responseText)
                        {
                            var data = $.parseJSON(responseText);
                            if (data.was_successful) {
                                $('#reset_display_initial').fadeOut('slow', function() {
                                    $('#reset_password_success').fadeIn('slow');
                                });
                            }

                            if (data.error_message) {
                                $('#error_message').html(data.error_message)
                                $('#error_message').show()
                            }

                        });
            }

        });

    </script>

{% endblock %}